<div>
    <div id="reLeftColumn" class="reColumn">
        <form onSubmit="false;" class="reForm">
            <fieldset>
                <legend>{{localize "PF2e-REG.Key"}}</legend>
                <select id="reKey">
                    <option value="FlatModifier">{{localize "PF2e-REG.Flat Modifier"}}</option>
                    <option value="Immunity">{{localize "PF2e-REG.Immunity"}}</option>
                    <option value="Weakness">{{localize "PF2e-REG.Weakness"}}</option>
                    <option value="Resistance">{{localize "PF2e-REG.Resistance"}}</option>
                    <option value="FastHealing">{{localize "PF2e-REG.Fast Healing"}}</option>
                    <option value="DamageDice">{{localize "PF2e-REG.Damage Dice"}}</option>
                    <option value="BaseSpeed">{{localize "PF2e-REG.Base Speed"}}</option>
                    <option value="FixedProficiency">{{localize "PF2e-REG.Fixed Proficiency"}}</option>
                    <option value="Strike">{{localize "PF2e-REG.Strike"}}</option>
                    <option value="Note">{{localize "PF2e-REG.Note"}}</option>
                    <option value="DexterityModifierCap">{{localize "PF2e-REG.Dexterity Modifier Cap"}}</option>
                    <option value="Sense">{{localize "PF2e-REG.Sense"}}</option>
                    <option value="WeaponPotency">{{localize "PF2e-REG.Weapon Potency"}}</option>
                    <option value="Striking">{{localize "PF2e-REG.Striking Rune"}}</option>
                    <option value="MultipleAttackPenalty">{{localize "PF2e-REG.Multiple Attack Penalty"}}</option>
                    <option value="LoseHitPoints">{{localize "PF2e-REG.Lose Hit Points"}}</option>
                    <option value="AdjustStrike">{{localize "PF2e-REG.Adjust Strike"}}</option>
                    <option value="AdjustModifier">{{localize "PF2e-REG.Adjust Modifier"}}</option>
                    <option value="TokenLight">{{localize "PF2e-REG.Token Light"}}</option>
                    <option value="CriticalSpecialization">{{localize "PF2e-REG.Critical Specialization"}}</option>
                    <option value="SubstituteRoll">{{localize "PF2e-REG.Substitute Roll"}}</option>
                    <option value="MartialProficiency">{{localize "PF2e-REG.Martial Proficiency"}}</option>
                    <option value="ActiveEffectLike">{{localize "PF2e-REG.Active Effect Like"}}</option>
                    <option value="RollOption">{{localize "PF2e-REG.Roll Option"}}</option>
                    <option value="ChoiceSet">{{localize "PF2e-REG.Choice Set"}}</option>
                    <option value="GrantItem">{{localize "PF2e-REG.Grant Item"}}</option>
                    <option value="TempHP">{{localize "PF2e-REG.Temp HP"}}</option>
                    <option value="TokenEffectIcon">{{localize "PF2e-REG.Token Effect Icon"}}</option>
                    <option value="TokenImage">{{localize "PF2e-REG.Token Image"}}</option>
                    <option value="CreatureSize">{{localize "PF2e-REG.Creature Size"}}</option>
                    <option value="EffectTarget">{{localize "PF2e-REG.Effect Target"}}</option>
                    <option value="ActorTraits">{{localize "PF2e-REG.Actor Traits"}}</option>
                    <option value="RollTwice">{{localize "PF2e-REG.Roll Twice"}}</option>
                    <option value="AdjustDegreeOfSuccess">{{localize "PF2e-REG.Adjust Degree Of Success"}}</option>
                </select>
                <i class="fas fa-info-circle large tooltipstered" id="reInfo"></i>
            </fieldset>
        </form>
        <div id="reContent"></div>
    </div>
    <div id="reRightColumn" class="reColumn">
        <button id="reUpdate" class="reButton" type="submit">{{localize "PF2e-REG.Update"}}</button>
        <textarea id="reRuleElement" rows="25"></textarea>
        <button id="reApply" class="reButton" type="button">{{localize "PF2e-REG.Apply"}}</button>
    </div>
</div>
<style>
    #reLeftColumn {
        overflow-y: scroll;
        height: 550px;
    }

    #reInfo {
        float: right;
        position: relative;
        width: auto;
        font-size: 25px;
    }
    .reColumn {
        float: left;
        width: 50%;
        position: relative;
    }
    .reForm {
        margin: 5px;
    }
    .reButton {
        width: 90%;
        background: rgba(255, 255, 240, 0.8);
        border: 1px solid #b5b3a4;
        font-size: 14px;
        line-height: 28px;
        font-family: "Signika", sans-serif;
        display: block;
        margin: 5px auto;
    }
</style>